<div class="ui raised segment">
  <div class="ui padded grid">
    <div class="row">
      <h1 class="ui huge dividing header">Dashboard</h1>
    </div>
    <div class="center aligned row">
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui centered small circular image" alt="placeholder">
        <div class="ui large basic label">Label</div>
        <p>Something else</p>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui centered small circular image" alt="placeholder">
        <div class="ui large basic label">Label</div>
        <p>Something else</p>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui centered small circular image" alt="placeholder">
        <div class="ui large basic label">Label</div>
        <p>Something else</p>
      </div>
      <div class="eight wide mobile four wide tablet four wide computer column">
        <img class="ui centered small circular image" alt="placeholder">
        <div class="ui large basic label">Label</div>
        <p>Something else</p>
      </div>
    </div>
    <div class="ui hidden section divider"></div>
    <div class="row">
      <h1 class="ui huge dividing header">Applications</h1>
    </div>
    <div class="row">
      {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut this.queryType))}}
        <div class="default text">Search for...</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.types as |type|}}
            <div data-value="{{type}}" class="item">
              {{type}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
      {{!-- TODO: Install ember truth helper and make input by querytype --}}
      {{#if (eq this.queryType "Status")}}
        {{#ui-dropdown class="search selection" allowAdditions=true selected=this.queryStatus onChange=(action (mut this.queryStatus)) as |execute mapper|}}
          <div class="default text">Enter status...</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.statuses as |status|}}
            <div data-value="{{map-value mapper status}}" class="item">
              {{status}}
            </div>
            {{/each}}
          </div>
        {{/ui-dropdown}} &nbsp;&nbsp;&nbsp;
        <button class="ui primary button" {{action "queryByStatus"}}> <i class="filter icon"></i>Filter Applications</button>
      {{else}}
        {{#if (eq this.queryType "Company")}}
          <div class="ui input">
            {{input value=this.queryCompany placeholder="Enter Company..." keyUp=(action "queryByCompany")}}
          </div>
        {{/if}}
      {{/if}}
    </div>
    <div class="row">
      <table class="ui single line striped selectable stackable table">
        <thead>
          <tr>
            <th>Status</th>
            <th>Go To Website</th>
            <th>Company</th>
            <th>Position</th>
            <th>Deadline</th>
          </tr>
        </thead>
        <tbody>
          {{#each model as |application|}} 
            <tr>
              <td>
                {{#link-to "applications.info" application.id}}
                  <a class="ui {{application.statusColor}} label"><i class="eye icon"></i> {{application.status}}</a>  
                {{/link-to}}
              </td>
              <td>
                {{#if application.posting_url}}
                  <a href={{application.posting_url}}>
                    <i class="link icon"></i>
                  </a>
                {{else}}
                  <i>Not available</i>
                {{/if}}
              </td>
              <td>{{application.company}}</td>
              <td>{{application.occupation}}</td>
              <td>
                {{#if application.deadline}}
                  {{application.deadline}}
                {{else}}
                  <i>Not available</i>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>