{{! template-lint-disable }}
<div class="ui raised green segment"><br>
  <div class="ui padded stackable grid">
		<h1 class="ui huge dividing green header">New Application</h1>
  	<div class="eight wide column">
			<h2 class="ui medium dividing header">Required fields</h2>
			<div class="ui form">
				<div class="required field">
					<label for="">Where are you applying?</label>
					{{#ui-dropdown class="search selection" allowAdditions=true selected=this.model.application.company onChange=(action (mut this.model.application.company)) as |execute mapper|}}
					  <div class="default text">Enter name...</div>
					  <i class="dropdown icon"></i>
					  <div class="menu">
					  	{{#each this.companies as |company|}}
					  	  <div data-value="{{map-value mapper company}}" class="item">
					  	  	{{company}}
					  	  </div>
					  	{{/each}}
					  </div>
					{{/ui-dropdown}}
				</div>
				<div class="required field">
					<label for="">What position do you apply for?</label>
					{{#ui-dropdown class="search selection" allowAdditions=true selected=this.model.application.occupation onChange=(action (mut this.model.application.occupation)) as |execute mapper|}}
					  <div class="default text">Enter position...</div>
					  <i class="dropdown icon"></i>
					  <div class="menu">
					  	{{#each this.occupations as |occupation|}}
					  	  <div data-value="{{map-value mapper occupation}}" class="item">
					  	  	{{occupation}}
					  	  </div>
					  	{{/each}}
					  </div>
					{{/ui-dropdown}}
				</div>
				<h2 class="ui medium dividing header">Optional fields</h2>
				<div class="field">
					<label for="">Status of your application</label>
					{{#ui-dropdown class="search selection" allowAdditions=true selected=this.model.application.status onChange=(action (mut this.model.application.status)) as |execute mapper|}}
					  <div class="default text">Enter status...</div>
					  <i class="dropdown icon"></i>
					  <div class="menu">
					  	{{#each this.statuses as |status|}}
					  	  <div data-value="{{map-value mapper status}}" class="item">
					  	  	{{status}}
					  	  </div>
					  	{{/each}}
					  </div>
					{{/ui-dropdown}}
				</div>
				<div class="field">
					<label for="">How did you find out about the job?</label>
					{{#ui-dropdown class="search selection" allowAdditions=true selected=this.model.application.source onChange=(action (mut this.model.application.source)) as |execute mapper|}}
					  <div class="default text">Enter source...</div>
					  <i class="dropdown icon"></i>
					  <div class="menu">
					  	{{#each this.sources as |source|}}
					  	  <div data-value="{{map-value mapper source}}" class="item">
					  	  	{{source}}
					  	  </div>
					  	{{/each}}
					  </div>
					{{/ui-dropdown}}
				</div>
				<div class="field">
					<label for="">Link of the posting</label>
					{{input value=this.model.application.posting_url placeholder="Enter url..." type="text"}}
				</div>
				<div class="field">
					<label for="">When is the deadline?</label>
					{{input value=this.model.application.deadine placeholder="" type="date"}}
				</div>
				<div class="field">
					<label for="">Notes</label>
					{{textarea value=this.model.application.note placeholder="Enter notes..." maxlength="255"}}
				</div><br>
				{{#link-to "applications"}}
				  <button class="ui black button"><i class="angle left icon"></i>Back to Dashboard</button>					
				{{/link-to}}
				<button class="ui green button"><i class="save icon"></i>Save Application</button>
			</div>
  	</div>
  	<div class="eight wide column">
			<h2 class="ui medium dividing header">Add Recruiters Info</h2>
			<div class="ui form">
				<div class="field">
					<label for="">Name</label>
					{{input value=this.recruiterName placeholder="Enter recruiter name..."}}
				</div>
				<div class="field">
					<label for="">E-Mail</label>
					{{input value=this.recruiterMail placeholder="Enter recruiter mail..."}}
				</div>
				<div class="field">
					<label for="">Tel</label>
					{{input value=this.recuiterTel placeholder="Enter recruiter tel..."}}
				</div>
				<div class="field">
					<label for="">Fax</label>
					{{input value=this.recruiterFax placeholder="Enter recruiter fax..."}}
				</div>
			</div>
		</div>
  </div>
</div>