<div class="ui raised {{this.model.application.statusColor}} segment">
  <br>
  <a class="ui {{this.model.application.statusColor}} ribbon huge label">
    {{this.model.application.status}}
  </a> <br><br>
  <span>
    <h1 class="ui large dividing {{this.model.application.statusColor}} header">Edit Event
      <div class="sub header">{{this.model.application.company}} : {{this.model.application.occupation}}</div>
    </h1>
  </span>
  <div class="ui padded stackable grid">
    <div class="eight wide column">
      <h2 class="ui medium dividing header">Required fields</h2>
      <div class="ui form">
        <div class="required field">
          <label for="">Name of the Event</label>
          {{input value=model.name type="text" placeholder="For e.g On-Site interview"}}
        </div>
        <div class="required field">
          <label for="">When is the Event</label>
          {{input value=this.model.date type="datetime-local"}}
        </div>
        <h2 class="ui medium dividing header">Location</h2>
        <div class="field">
          <label for="">Street</label>
          {{input value=this.model.location.street type="text" placeholder="Enter Street name..."}}
        </div>
        <div class="field">
          <label for="">Postal Code</label>
          {{input value=this.model.location.postal-code type="number" placeholder="Enter postal code..."}}
        </div>
        <div class="field">
          <label for="">City</label>
          {{input value=this.model.location.city type="text" placeholder="Enter city..."}}
        </div>
        <div class="ui divider"></div>
        <div class="field">
          <label for="">Note</label>
          {{textarea value=this.model.note maxlength="400" placeholder="Enter note..."}}
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <h2 class="ui medium dividing header">Contact Person</h2>
      <div class="ui form">
        <div class="field">
          <label for="">Name</label>
          {{input value=this.model.contact_person.name placeholder="Enter name..." type="text"}}
        </div>
        <div class="field">
          <label for="">E-Mail</label>
          {{input value=this.model.contact_person.email placeholder="Enter mail..." type="email"}}
        </div>
        <div class="field">
          <label for="">Tel</label>
          {{input value=this.model.contact_person.tel placeholder="Enter tel..." type="tel"}}
        </div>
        <div class="field">
          <label for="">Fax</label>
          {{input value=this.model.contact_person.fax placeholder="Enter fax..." type="text"}}
        </div>
      </div>
    </div>
  </div>
  <button class="ui {{this.model.application.statusColor}} button" {{action "update"}}><i class="save icon"></i>Save Changes</button>
</div>