<div class="ui tablet computer only padded grid">
  <div class="ui inverted borderless massive top fixed fluid menu">
    <div class="header item">
      <h2 class="ui header" id="logoHeader">
        <img class="ui small image" src="https://imgur.com/ePygU0c.png">
        <div class="content">
          Aptool
        </div>
      </h2>
    </div>
    <div class="right menu">
      {{#link-to "applications.new" class="item"}}
        <i class="plus icon"></i> Add Application
      {{/link-to}}
      {{#link-to "applications" class="item"}}
        Dashboard
      {{/link-to}}
      {{#link-to "jobs" class="item"}}
        Jobs
      {{/link-to}}
      {{#link-to "my-account" class="item"}}
        My-Account
      {{/link-to}}
      {{#link-to "about" class="item"}}
        About
      {{/link-to}}
      {{#if session.isAuthenticated}}
        <a class="item">
          <button class="ui inverted basic button" {{action "invalidate"}} >Logout</button>
        </a>
      {{else}}
        {{#link-to "login" class="item"}}
          <button class="ui inverted basic button" >Login</button>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div class="ui top fixed borderless fluid inverted menu">
    <div class="header item">
      <h2 class="ui header" id="logoHeader">
        <img class="ui small image" src="https://imgur.com/ePygU0c.png">
        <div class="content">
          Aptool
        </div>
      </h2>
    </div>
    <div class="right menu">
      <div class="item">
        <button class="ui icon toggle basic inverted button">
          <i class="content icon"></i>
        </button>
      </div>
    </div>
    <div class="ui vertical borderless inverted fluid menu">
      {{#link-to "applications.new" class="item"}}
        <i class="plus icon"></i> Add Application
      {{/link-to}}
      {{#link-to "applications" class="item"}}
        Dashboard
      {{/link-to}}
      <a class="item">Jobs</a>
      <a class="item">My Account</a>
      <a class="item">About</a>
      {{#if session.isAuthenticated}}
        <a class="item">
          <button class="ui inverted basic button" {{action "invalidate"}}>Logout</button>
        </a>
      {{else}}
        {{#if (media "isMobile")}}
          {{#link-to "sign-up" class="item"}}
            Sign-Up
          {{/link-to}}
        {{/if}}
        {{#link-to "login" class="item"}}
          <button class="ui inverted basic button">Login</button>
        {{/link-to}}
      {{/if}}
      <div class="ui fitted divider"></div>
    </div>
  </div>
</div>
<div class="ui padded grid">
  <div
    class="three wide tablet only three wide computer only column"
    id="sidebar"
  >
    <div class="ui vertical borderless fluid text menu">
      {{#if session.isAuthenticated}}
        <a class="active item">JOBS</a> <a class="item">job</a>
        <a class="item">job</a> <a class="item">job</a>
        <div class="ui hidden divider"></div>
        <a class="item">Upcoming job</a> <a class="item">Nav job again</a>
        <a class="item">One more nav</a> <a class="item">job nav item</a>
        <a class="item">More job</a>
        <div class="ui hidden divider"></div>
        <a class="item">job</a> <a class="item">job</a>
        <a class="item">job</a>
      {{else}}
        {{#link-to "login" class="item"}}
          Login
        {{/link-to}}
        {{#link-to "sign-up" class="item"}}
          Sign-up
        {{/link-to}}
      {{/if}}
    </div>
  </div>
  <div
    class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
    id="content"
  >
    {{ outlet }}
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".ui.toggle.button").click(function () {
      $(".mobile.only.grid .ui.vertical.menu").toggle(100);
    });
  });
</script>