<div class="ui tablet computer only padded grid">
  <div class="ui inverted borderless massive top fixed fluid menu">
    <a  href="/applications" class="header item">
      <h2 class="ui header" id="logoHeader">
        <img class="ui small image" src="https://imgur.com/ePygU0c.png" alt="logo">
        <div class="content">
          Aptool
        </div>
      </h2>
    </a>
    <div class="right menu">
      {{#if session.isAuthenticated}}
        {{#link-to "applications.new" class="item"}}
          <i class="plus icon"></i> Add Application
        {{/link-to}}
        {{#link-to "applications" class="item"}}
          Dashboard
        {{/link-to}}
        <a href="/jobs" class="item">
          Jobs
        </a>
        {{#link-to "my-account" class="item"}}
          My-Account
        {{/link-to}}
      {{/if}}
      {{#link-to "about" class="item"}}
        About
      {{/link-to}}
      {{#if session.isAuthenticated}}
        <a class="item">
          <button class="ui inverted basic button" {{action "invalidate"}} >Logout</button>
        </a>
      {{else}}
        {{#link-to "login" class="item"}}
          <button class="ui inverted basic button" >Login</button>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div class="ui top fixed borderless fluid inverted menu">
    <div class="header item">
      <h2 class="ui header" id="logoHeader">
        <img class="ui small image" src="https://imgur.com/ePygU0c.png" alt="logo">
        <div class="content">
          Aptool
        </div>
      </h2>
    </div>
    <div class="right menu">
      <div class="item">
        <button class="ui icon toggle basic inverted button">
          <i class="content icon"></i>
        </button>
      </div>
    </div>
    <div class="ui vertical borderless inverted fluid menu">
      {{#if session.isAuthenticated}}
        {{#link-to "applications.new" class="item"}}
          <i class="plus icon"></i> Add Application
        {{/link-to}}
        {{#link-to "applications" class="item"}}
          Dashboard
        {{/link-to}}
        {{#link-to "jobs" class="item"}}
          Jobs
        {{/link-to}}
        {{#link-to "my-account" class="item"}}
          My-Account
        {{/link-to}}
      {{/if}}
      {{#link-to "about" class="item"}}
        About
      {{/link-to}}
      {{#if session.isAuthenticated}}
        <a class="item">
          <button class="ui inverted basic button" {{action "invalidate"}}>Logout</button>
        </a>
      {{else}}
        {{#link-to "login" class="item"}}
          <button class="ui inverted basic button">Login</button>
        {{/link-to}}
      {{/if}}
      <div class="ui fitted divider"></div>
    </div>
  </div>
</div>
<div class="ui padded grid">
  <div
    class="three wide tablet only three wide computer only column"
    id="sidebar"
  >
    <div class="ui vertical borderless fluid text menu">
      {{#if session.isAuthenticated}}
        {{! template-lint-disable no-invalid-interactive }}
        <a class="active item" {{action "refresh"}} data-content="The default theme's basic popup removes the pointing arrow.">
          <i class="redo icon"></i> Customize Keywords in My-Account then click here
        </a>
        {{#if loader}}
          <div class="ui active centered inline loader"></div>
        {{else}}
          {{#each model.jobs as |job|}}
            <a href={{job.url}} class="item" target="_blank" rel="noopener">{{job.title}}</a>            
          {{/each}}
        {{/if}}
      {{else}}
        {{#link-to "login" class="item"}}
          Login
        {{/link-to}}
        {{#link-to "sign-up" class="item"}}
          Sign-up
        {{/link-to}}
      {{/if}}
    </div>
  </div>
  <div
    class="sixteen wide mobile thirteen wide tablet thirteen wide computer right floated column"
    id="content"
  >
    {{ outlet }}
  </div>
</div>
<script>
  $(document).ready(function () {
    $(".ui.toggle.button").click(function () {
      $(".mobile.only.grid .ui.vertical.menu").toggle(100);
    });
  });
</script>