{{ember-load-remover}}
<div class="ui raised segment">
  <h1 class="ui large dividing header">Job Portal</h1> <i>(currently only fetching technical jobs)</i>
  <br> <br>
  <div class="ui grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="field">
          <label for="">Keywords</label>
          {{input value=this.keywords placeholder="Enter keywords for e.g. software developer" keyUp=(action "queryJobs") }}
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui form">
        <div class="field">
          <label for="">Location</label>
          {{input value=this.location placeholder="Enter location for e.g. San Francisco" keyUp=(action "queryJobs")}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui grid">
    <div class="sixteen wide column">
      {{#if loader}}
        <div class="ui active inverted dimmer">
          <div class="ui text loader">Loading</div>
        </div>
        <br>
        <br>
      {{else}}
        <div class="ui divided items">
          {{#each model.jobs as |job|}}
            <div class="item">
              <div class="image">
                {{#if job.company_logo}}
                  <img src={{job.company_logo}} alt="company_logo">
                {{else}}
                  <img src="https://imgur.com/h53b4Dv.png" alt="placeholder">
                {{/if}}
              </div>
              <div class="content">
                <a href={{job.url}} target="_blank" rel="noopener">{{job.title}} at {{job.company}}</a>
                <div class="meta">
                  <span class="cinema">{{job.type}} | {{job.location}}</span>
                </div>
                <div class="description" >
                  {{! template-lint-disable no-unused-block-params }}
                  {{#ui-accordion as |execute|}}
                    <div class="title">
                      <i class="dropdown icon"></i>
                      <b>DESCRIPTION</b>
                    </div>
                    {{! template-lint-disable no-triple-curlies}}
                    <div class="content">
                      {{{job.description}}}
                    </div>
                  {{/ui-accordion}}
                </div>
                <JobSegment @model={{job}} @account={{model}} />
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>
</div>