<br>
<br>
<br>
<div class="ui stackable grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui green raised segment">
      {{#if this.loader}}
        <div class="ui active inverted dimmer">
          <div class="ui text loader">Loading your Account</div>
        </div>
      {{else}}
        <h1 class="ui medium green header">
          Login to your Account
        </h1>
        <br>
        <div class="ui form">
          <div class="field">
            <label for="">Enter Username</label>
            <div class="ui left icon input">
              <i class="user icon"></i>
              {{input value=this.username type="text" placeholder="username" enter=(action "redirect")}}
            </div>
          </div>
          <div class="field">
            <label for="">Enter Password</label>
            <div class="ui left icon input">
              <i class="lock icon"></i>
              {{#if this.showPassword}}
                {{input value=this.password type="text" placeholder="password" enter=(action "redirect")}}
              {{else}}
                {{input value=this.password type="password" placeholder="password" enter=(action "redirect")}}              
              {{/if}}
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              {{input checked=this.showPassword type="checkbox" name="public" }}
              <label>Show Password <i class="eye icon"></i></label>
            </div>
          </div>
          {{#if (media "isMobile")}}
            <div class="field">
              Don't have an account? {{#link-to "sign-up"}} Sign Up {{/link-to}} here
            </div>
          {{/if}}
          <div class="field">
            <button class="ui fluid green button" {{action "authenticate"}}>Login</button>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="four wide column"></div>
</div>