<div class="ui raised segment">
  <br>
  <h1 class="ui huge dividing header">My Account</h1>
  <div class="ui stackable grid">
    <div class="eight wide column">
      <h2 class="ui medium dividing header">Personal Information</h2>
      <div class="ui form">
        <div class="field">
          <label for="">Firstname</label>
          {{input value=model.firstname type="text" placeholder="Enter firstname..."}}
        </div>
        <div class="field">
          <label for="">Lastname</label>
          {{input value=model.lastname type="text" placeholder="Enter lastname..."}}
        </div>
        <div class="field">
          <label for="">E-mail</label>
          {{input value=model.email type="text" placeholder="Enter Email"}}
        </div>
        <div class="field">
          <label for="">Username</label>
          {{model.username}}
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <h2 class="ui medium dividing header">Job Search Keywords</h2>
      <div class="ui form">
        <div class="field">
          <label for="">Enter Keywords</label>
          {{input value=this.keyword placeholder="For e.g. Software" enter=(action "addKeyword" this.keyword)}} <br> <br>
          {{#each model.job_keywords as |item|}}
            <a class="ui label" role="button" {{action "deleteKeyword" item}}>
              <i class="trash icon"></i> {{item}}
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div> <br>
  {{#if segment}}
    <div class="ui raised red segment">
      By deleting this account, you are deleting all of you applications and the events! <br><br>
      <button class="ui red inverted button" {{action "deleteAccount"}}><i class="trash icon"></i> Continue</button>
      <button class="ui blue button" {{action (mut segment) false}}>Cancel</button>
    </div>
  {{else}}
    <button class="ui inverted green button" type="submit" {{action "saveChanges"}}><i class="save icon"></i> Save Changes</button> &nbsp;&nbsp;&nbsp;
    <button class="ui red button" type="submit" {{action (mut segment) true}}><i class="trash icon"></i>Delete Account</button>
  {{/if}}
</div>